.header {
	display: flex;
	padding: 15px;
	min-height: 80px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.navigation {
	display: flex;
	column-gap: 75px;
	flex-wrap: wrap;
}
